<a href="https://colab.research.google.com/github/guptaharsh-in/Pattern-Recognition/blob/main/Candlestick_Pattern_Recognition_Using_TA_Lib_(Technical_Analysis_Library).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Candlestick Pattern Recognition Using TA-Lib (Technical Analysis Library)

In [ ]:
# Install and Import Talib
!wget http://prdownloads.sourceforge.net/ta-lib/ta-lib-0.4.0-src.tar.gz
!tar -xzvf ta-lib-0.4.0-src.tar.gz
%cd ta-lib
!./configure --prefix=/usr
!make
!make install
!pip install Ta-Lib
import talib

In [ ]:
# Import other Libraries
import talib
import pandas as pd
import numpy as np
import nsepy as nse
from datetime import date

In [ ]:
# Load and Store Data from National Stock Exchange(NSE)
index_price = nse.get_history(symbol = "NIFTY", index = True, start = date(2022,1,1), end = date(2023,1,1))

In [ ]:
# Show Data
index_price

                Open      High       Low     Close     Volume      Turnover
Date
2022-01-03  17387.15  17646.65  17383.30  17625.70  200456430  1.618136e+11
2022-01-04  17681.40  17827.60  17593.55  17805.25  247437472  1.860416e+11
2022-01-05  17820.10  17944.70  17748.85  17925.25  251460038  2.373731e+11
2022-01-06  17768.50  17797.95  17655.55  17745.90  236454824  2.264382e+11
2022-01-07  17797.60  17905.00  17704.55  17812.70  239338015  2.144789e+11
...              ...       ...       ...       ...        ...           ...
2022-12-26  17830.40  18084.10  17774.25  18014.60  176652342  1.370821e+11
2022-12-27  18089.80  18149.25  17967.45  18132.30  214257094  1.300064e+11
2022-12-28  18084.75  18173.10  18068.35  18122.50  193873167  1.399759e+11
2022-12-29  18045.70  18229.70  17992.80  18191.00  281052828  1.846605e+11
2022-12-30  18259.10  18265.25  18080.30  18105.30  192005563  1.447522e+11

[248 rows x 6 columns]

In [ ]:
# Search Morning Star Pattern
morningstar_pattern = talib.CDLMORNINGSTAR(index_price["Open"],index_price["High"],index_price["Low"],index_price["Close"])
print(morningstar_pattern)

# Generate Signal
print(morningstar_pattern[morningstar_pattern != 0])

Date
2022-01-03    0
2022-01-04    0
2022-01-05    0
2022-01-06    0
2022-01-07    0
             ..
2022-12-26    0
2022-12-27    0
2022-12-28    0
2022-12-29    0
2022-12-30    0
Length: 248, dtype: int32
Date
2022-11-11    100
dtype: int32

In [ ]:
# Search Engulfing Pattern
engulfing_pattern = talib.CDLENGULFING(index_price["Open"],index_price["High"],index_price["Low"],index_price["Close"])
print(engulfing_pattern)

# Generate Signal
print(engulfing_pattern[engulfing_pattern != 0])

Date
2022-01-03    0
2022-01-04    0
2022-01-05    0
2022-01-06    0
2022-01-07    0
             ..
2022-12-26    0
2022-12-27    0
2022-12-28    0
2022-12-29    0
2022-12-30    0
Length: 248, dtype: int32
Date
2022-01-18   -100
2022-03-03   -100
2022-03-08    100
2022-03-21   -100
2022-03-31   -100
2022-04-01    100
2022-04-29   -100
2022-05-04   -100
2022-06-01   -100
2022-06-02    100
2022-06-09    100
2022-07-27    100
2022-08-19   -100
2022-08-25   -100
2022-09-30    100
2022-10-11   -100
2022-11-02   -100
2022-11-28    100
2022-12-09   -100
2022-12-21   -100
dtype: int32

In [ ]:
# Add Pattern to DataFrame
index_price["Morningstar Days"] = morningstar_pattern
index_price["Engulfing Days"] = engulfing_pattern

In [ ]:
# Show Final DataFrame 
index_price.tail(40)

,Open,High,Low,Close,Volume,Turnover,Morningstar Days,Engulfing Days
Date,,,,,,,,
2022-11-04,18053.40,18135.10,18017.15,18117.15,267941526,2.106254e+11,0,0
2022-11-07,18211.75,18255.50,18064.75,18202.80,314758398,2.512484e+11,0,0
2022-11-09,18288.25,18296.40,18117.50,18157.00,307155149,2.334458e+11,0,0
2022-11-10,18044.35,18103.10,17969.40,18028.20,256451785,1.984806e+11,0,0
2022-11-11,18272.35,18362.30,18259.35,18349.70,378469072,3.073211e+11,100,0
2022-11-14,18376.40,18399.45,18311.40,18329.15,301401961,2.169766e+11,0,0
2022-11-15,18362.75,18427.95,18282.00,18403.40,250926391,1.783619e+11,0,0
2022-11-16,18398.25,18442.15,18344.15,18409.65,219268992,1.973287e+11,0,0
2022-11-17,18358.70,18417.60,18312.95,18343.90,200512910,1.641036e+11,0,0
2022-11-18,18382.95,18394.60,18209.80,18307.65,198794846,1.655369e+11,0,0
2022-11-21,18246.40,18262.30,18133.35,18159.95,213794598,1.503750e+11,0,0
2022-11-22,18179.15,18261.85,18137.70,18244.20,177681099,1.475098e+11,0,0
2022-11-23,18325.20,18325.40,18246.00,18267.25,178791087,1.567445e+11,0,0
2022-11-24,18326.10,18529.70,18294.25,18484.10,204044559,1.821835e+11,0,0
2022-11-25,18528.45,18534.90,18445.10,18512.75,205876043,1.711280e+11,0,0
2022-11-28,18430.55,18614.25,18365.60,18562.75,206468884,1.900692e+11,0,100
2022-11-29,18552.45,18678.10,18552.15,18618.05,195255179,1.656817e+11,0,0
2022-11-30,18625.70,18816.05,18616.55,18758.35,345636288,3.275721e+11,0,0
2022-12-01,18871.95,18887.60,18778.20,18812.50,324955829,2.221665e+11,0,0
2022-12-02,18752.40,18781.95,18639.20,18696.10,254401004,2.023376e+11,0,0
2022-12-05,18719.55,18728.60,18591.35,18701.05,288393766,1.947183e+11,0,0
2022-12-06,18600.65,18654.90,18577.90,18642.75,217777090,1.777227e+11,0,0
2022-12-07,18638.85,18668.30,18528.40,18560.50,200501720,1.749680e+11,0,0
2022-12-08,18570.85,18625.00,18536.95,18609.35,202811256,1.927765e+11,0,0
2022-12-09,18662.40,18664.70,18410.10,18496.60,215839572,2.031778e+11,0,-100
2022-12-12,18402.15,18521.55,18345.70,18497.15,193883468,1.668820e+11,0,0
2022-12-13,18524.40,18617.25,18490.20,18608.00,187585567,1.653617e+11,0,0
2022-12-14,18671.25,18696.10,18632.90,18660.30,208030337,1.662600e+11,0,0
2022-12-15,18614.40,18652.90,18387.70,18414.90,183127544,1.561855e+11,0,0
2022-12-16,18319.10,18440.95,18255.15,18269.00,277650193,2.329295e+11,0,0
2022-12-19,18288.10,18431.65,18244.55,18420.45,154847475,1.445523e+11,0,0
2022-12-20,18340.30,18404.90,18202.65,18385.30,169041783,1.503856e+11,0,0
2022-12-21,18435.15,18473.35,18162.75,18199.10,187594274,1.722344e+11,0,-100
2022-12-22,18288.80,18318.75,18068.60,18127.35,195699650,1.672523e+11,0,0
2022-12-23,17977.65,18050.45,17779.50,17806.80,221454773,1.848694e+11,0,0
2022-12-26,17830.40,18084.10,17774.25,18014.60,176652342,1.370821e+11,0,0
2022-12-27,18089.80,18149.25,17967.45,18132.30,214257094,1.300064e+11,0,0
2022-12-28,18084.75,18173.10,18068.35,18122.50,193873167,1.399759e+11,0,0
2022-12-29,18045.70,18229.70,17992.80,18191.00,281052828,1.846605e+11,0,0
2022-12-30,18259.10,18265.25,18080.30,18105.30,192005563,1.447522e+11,0,0

In [ ]:
# Result
# Successfully Recognised the Patterns and Verified Accordingly

In [ ]:
# Conclusion
# We can use Candlestick Pattern Recognition Using TA-Lib for generating signals in markets and can take trades over them.